body {
	font-family: 'Arial'
}

#topmenu {}

#topmenu-buttons {}

#topmenu-buttons ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#topmenu-buttons li {
	float: left;
	margin: 0 0.15em;
}

#topmenu-buttons li a {
	height: 2em;
	line-height: 2em;
	float: left;
	width: 6em;
	display: block;
	border: 0.1em solid #dcdce9;
	color: #0d2474;
	text-decoration: none;
	text-align: center;

}

#page {
	clear: both;
}

#page-button a {
	height: 2em;
	line-height: 2em;
	width: 7em;
	display: block;
	border: 0.1em solid #dcdce9;
	color: #0d2474;
	text-decoration: none;
	text-align: center;
}